body {
  margin: 1em;
  background-color: #222;
  color: #fff;
  font-family: Arial, sans-serif;
}

h1 {
  color: #fff;
}


form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

textarea,
input {
  width: 100%;
  box-sizing: border-box;
  font-family: monospace;
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
}

button {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 0.5em;
  font-size: 1em;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}
